<ul class="flex space-x-3 tab">
<li>
	<div class="<%= tab_class(action_name == 'index') %>"><%= link_to "All", "/news" %></div>
</li>
<li>
	<div class="<%= tab_class(action_name == 'ct') %>"><%= link_to "Cointelegraph", "/ct" %></div>
</li>
<li>
	<div class="<%= tab_class(action_name == 'tb') %>"><%= link_to "Theblock", "/tb" %></div>
</li>
</ul>
