<h1><%= current_page.title %></h1>
<div class="opacity-50">
      <span class="font-normal"><%= current_page.published_at %></span>
	  <span class="font-light">| <%= t_short_url(current_page) %></span>
</div>
<div>
	<%= content.html(:text) %>
</div>
<% if current_page.original_url %>
<div>
	<span class="opacity-50">Source: <%=link_to get_domain(current_page.original_url), current_page.original_url, rel: 'nofollow', target: '_blank' %></span>
</div>
<% end %>
